---
title: Holden Madagame - Web Developer
---

<!DOCTYPE html>
<html>

    <head>
        <title>{{  title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ 'bundle.css' | url }}">

    </head>
    <body>
        {{content | safe }}
    </body>
</html>